<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Space Battle!</title>
    <%- include('partials/head.ejs') %>
</head>
<body>

<% if(currentUser) { %>
    <div class="modal main">
        <div class="title">
            <h1>SPACE BATTLE</h1>
            <p>Welcome, <%= currentUser.username %></p>
        </div>
        <div class="buttons">
            <a id="play" class="button" href="/enemy/1">Play</a>
            <a id="edit-ship" class="button ajax-button" href="/ship/edit/<%= currentUser.username %>">Edit Stats</a>
            <a id="logout" class="button ajax-button logout" href="/sessions?_method=DELETE">Log Out</a>
            <a id="leaderboards" class="button ajax-button" href="/ship/leaderboard">Leaderboard</a>
        </div>
    </div>
<% } else { %>
    <div class="modal main">
        <div class="title">
            <h1>SPACE BATTLE</h1>
            <p>Login/Signup</p>
        </div>
        <div class="buttons">
            <a id="new-account" class="button ajax-button" href="/users/new">New Account</a>
            <a id="login" class="button ajax-button" href="/sessions/new">Login</a>
            <a id="leaderboards" class="button ajax-button" href="/ship/leaderboard">Leaderboard</a>
        </div>
    </div>
<% } %>
<% if(currentUser) { %>
    <div class="modal next-level" style="display: none;">
        <div class="title">
            <h1>SPACE BATTLE</h1>
            <p>Level <span class="level">1</span></p>
        </div>
        <div class="buttons">
            <a id="play-level" class="button" href="/enemy/1">Play</a>
            <a id="logout" class="button ajax-button logout" href="/sessions?_method=DELETE">Log Out</a>
            <a id="restart" class="button" href="#">Restart</a>
        </div>
    </div>
<% } %>
<div id="space"></div>
<%- include ('partials/scripts.ejs') %>
</body>
</html>