body {
    margin: 0;
}
#space {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/img/space-background.png);
    background-size: cover;
    cursor: url(/img/crosshair.png) 35 28, auto;
}

.ufo {
    background: url(/img/ufo.png);
    position: fixed;
    z-index: 10;
    background-size: contain;
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    cursor: url(/img/crosshair-red.png) 35 28, auto;
    transition: all 0.1s ease-in-out;
}
.health-bar {
    position: fixed;
    bottom: 0;
    background: green;
    z-index: 11;
    font-size: 40px;
    padding: 20px 30px;
}
.health {
    position: fixed;
    overflow: hidden;
    width: 500px;
    height: 50px;
    border: 2px solid red;
    bottom: 0;
    left: 100px;
}
.health-inner {
    background: green;
    width: 500px;
    height: 50px;
    transition: all 0.2s ease-in-out;
}