<div class="leaderboard">
    <div class="legend">
        <div class="rank">
            <p>Rank</p>
        </div>
        <div class="name">
            <p>Name</p>
        </div>
        <div class="score">
            <p>High Score</p>
        </div>
    </div>
    <% let count = 0; %>
    <% for(let ship of ships) { %>
        <% count++; %>
        <div class="entry">
            <div class="rank">
                <p><%= count %></p>
            </div>
            <div class="name">
                <p><%= ship.name %></p>
            </div>
            <div class="score">
                <p><%= ship.highScore%></p>
            </div>
        </div>
    <% } %>
    <div class="back">
        <a class="button" href="/" id="back">Back</a>
    </div>
</div>