<div class="logs">
    <form id="new-user-form" action="/users" method="POST">
        <fieldset>
            <legend>Sign Up</legend>
            <div class="field">
                <label for="name">Username:</label>
                <input id="name" type="text" name="username" required/>
            </div>
            <div class="field">
                <label for="password">Password:</label>
                <input type="password" name="password" />
            </div>
            <div class="ship-data">
                <div class="title">
                    <p>Set ship attributes: (hull strength and firepower must add up to 10)</p>
                </div>
                <div class="field">
                    <label for="ship-hull">Ship Hull Strength (1-9):</label>
                    <input type="text" name="ship-hull" id="ship-hull" />
                </div>
                <div class="field">
                    <label for="ship-firepower">Ship Firepower (1-9):</label>
                    <input type="text" name="ship-firepower" />
                </div>
            </div>
            <div class="field">
                <button id="new-user" type="submit">Submit</button>
                <a class="button" href="/" id="back">Back</a>
            </div>
        </fieldset>
    </form>
</div>